.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.anchor {
    text-align: center;
    font-size: large;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    font-family: Arial, sans-serif;
    z-index: 999;
}

.backgroundimage {
    background-image: url('https://i.pinimg.com/736x/41/ec/51/41ec519450f2d6eab830e86b97cd7d69.jpg');
    background-size: cover;
    /* fill the screen */
    background-repeat: no-repeat;
    /* prevent tiling */
    background-position: center;
    /* center the image */
}

.corner-link {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #222;
    color: whitesmoke;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.othercorner-link {
    position: fixed;
    top: 20px;
    background-color: #222;
    color: whitesmoke;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.anchorlink {
    top: 20px;
    background-color: #222;
    color: whitesmoke;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.corner-link:hover {
    background-color: #444;
}

.secondtitle {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    font-size: xx-large;
    text-align: center;
}

.quotes {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: white;
    font-size: x-large;
    text-align: center;
}